* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font: 18px/1.2 Garamond, serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text-container {
  max-width: 600px;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 0;
}

.title + .subtitle {
  margin-top: 3px;
  line-height: 1.1;
  font-size: .8rem;
}

.board-container {
  display: grid;
  width: 600px;
  height: 500px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  column-gap: 5px;
  row-gap: 5px;
  margin: 0 auto;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(320deg, #aea245, #74b69d) 1;
}

.cell {
  background-color: #bbddbb;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1.5rem;
}

#game_messages {
  width: 70%;
  margin: 0 auto;
}

#game_messages > [class|=game] {
  display: inline-block;
  margin: .9rem .5rem;
}

.game-text {
  font-family: 'Courier New', Courier, monospace;
  color: #d44;
  font-weight: 600;
}

.game-button {
  margin: .5em .2rem;
  padding: .2rem;
  background-color: rgba(150, 150, 150, .1);
  border: none;
}

.add:active {
  border: 1px dashed #99bbab;
}


#start:active {
  border: 2px dashed #bb6666;
}